{% extends "base.njk" %}

{% block content %}
<section class="section">
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-one-half-widescreen is-four-fifths-desktop is-full-tablet is-full-mobile">
				<h1 class="title is-1">{{title}}</h1>
				<hr />
				<div class="content">
					{{contents|safe}}
				</div>
		</div>
		</div>
	</div>
</section>
{% endblock %}
