{% extends "base.njk" %}

{% block content %}
{% raw %}
<section id="app" class="section">
	<div class="container">
		<div class="columns">

			<div class="column is-hidden-mobile">
			</div>

			<div class="column is-one-third-widescreen is-one-third-desktop is-half-tablet box has-background-dark has-text-light">
				<h1 class="title is-size-4 has-text-centered has-text-light">Smash Bros. Randomizer</h1>
				<div class="columns is-mobile">
					<div class="column is-5 is-size-5 has-text-right rand-field">Items:</div>
					<div id="items" class="column is-size-5 has-text-left rand-field">{{items}}</div>
				</div>
				<div class="columns is-mobile">
					<div class="column is-5 is-size-5 has-text-right rand-field">Damage:</div>
					<div id="damage" class="column is-size-5 has-text-left rand-field">{{damage}}%</div>
				</div>
				<div class="columns is-mobile">
					<div class="column is-5 is-size-5 has-text-right rand-field">Time/Stock:</div>
					<div id="lives" class="column is-size-5 has-text-left rand-field">{{lives}}</div>
				</div>
				<div class="columns is-mobile">
					<div class="column is-5 is-size-5 has-text-right rand-field">Player 1:</div>
					<div class="column is-size-5 has-text-left rand-field">{{player1}}</div>
				</div>
				<div class="columns is-mobile">
					<div class="column is-5 is-size-5 has-text-right rand-field">Player 2:</div>
					<div class="column is-size-5 has-text-left rand-field">{{player2}}</div>
				</div>
				<div class="columns is-mobile">
					<div class="column is-5 is-size-5 has-text-right rand-field">Player 3:</div>
					<div class="column is-size-5 has-text-left rand-field">{{player3}}</div>
				</div>
				<div class="columns is-mobile">
					<div class="column is-5 is-size-5 has-text-right rand-field">Player 4:</div>
					<div class="column is-size-5 has-text-left rand-field">{{player4}}</div>
				</div>
				<div class="columns is-mobile">
					<div class="column has-text-centered">
						<button v-on:click="randomizeValues" id="randomize" class="button is-primary is-large" type="button">Randomize</button>
					</div>
				</div>
			</div>

			<div class="column is-hidden-mobile">
			</div>

		</div>
	</div>
</section>
{% endraw %}
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="js/main.js"></script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="css/style.css" type="text/css" />
{% endblock %}
