<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<a class="navbar-item" href="{{rootPath}}">Smash Bros Randomizer</a>
		<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>

	<div id="navbar-menu" class="navbar-menu">
		<div class="navbar-start">
			<div class="navbar-item has-dropdown is-hoverable">
				<a class="navbar-link">Games</a>
				<div class="navbar-dropdown">
					{% for game in collections.games %}
					<a class="navbar-item" href="{{rootPath}}{{game.path|safe}}">{{game.title}}</a>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</nav>
